---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/pets":
    post:
      summary: Creates a pet
      tags:
      - Pets
      parameters: []
      responses:
        '201':
          description: pet created
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                photo_url:
                  type: string
                status:
                  type: string
              required:
              - name
              - status
          application/xml:
            schema:
              type: object
              properties:
                name:
                  type: string
                photo_url:
                  type: string
                status:
                  type: string
              required:
              - name
              - status
  "/api/v1/pets/{id}":
    get:
      summary: Retrieves a pet
      tags:
      - Pets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: name found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  photo_url:
                    type: string
                  status:
                    type: string
                required:
                - id
                - name
                - status
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  photo_url:
                    type: string
                  status:
                    type: string
                required:
                - id
                - name
                - status
        '404':
          description: pet not found
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000
